*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(172, 22, 139); 
    color:rgb(165, 22, 129);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    }

div{
    width: 500px;
    height: 250;
    background-color: rgb(179, 29, 166);
    color: #000000;
    margin: 10px;
    padding: 20px 40px 30px 20px;
    border: 1px solid #999999;
    border-radius: 25px 0px 25px 0px;
    box-shadow: 2px 2px 5px #ddd79d;
   }
   ul{
       list-style: none;
       margin-top: 0;
   }
   ul li{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 18px;
       height: 50px;
   }
   ul li a{
       width: 300px;
       height: 50px;
       background-color: bisque;
       display: block;
     border-left: 5px solid rgb(218, 19, 135)  ;
     border-right: 5px solid rgb(165, 22, 129);
     padding-left: 10px;
     text-decoration: none;
     color: #bfbfbf}
   }
   ul li a :hover{
       margin-left: 10px;
       color: rgb(165, 22, 129);
       box-shadow: 10px 10px 20px #999999;
       transform: rotate(4deg);
       -moz-transform: rotate(4deg);
       -webkit-transform: rotate(4deg);

   }
   td{
       vertical-align: top;

   }
   .Encabezado{
       height: 180px;
       width: 100%;
       padding:0px;
       margin: 0px;
       border-radius: 0px;
       border:0px;
       background-color: rgb(165, 22, 129);
       color: rgb(184, 25, 216);
       
      text-align: center; 
      padding-top: 80px;

   }
   .piePagina{
    height: 100px;
    width: 100%;
    padding:0px;
       margin: 0px;
       border-radius: 0px;
       border:0px;
       background-color: rgb(165, 22, 129);

   }